<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.dhr.one.model.mapper.OrdersMapper">
    <resultMap id="OrdersUserResultMap" type="org.dhr.one.model.entity.Orders">
        <id property="ordersId" column="id"/>
        <result property="userId" column="userId"></result>
        <result property="number" column="number"></result>
        <result property="createTime" column="createTime"></result>
        <result property="updateTime" column="updateTime"></result>
        <result property="note" column="note"></result>
        <association property="user" javaType="org.dhr.one.model.entity.User">
            <id property="id" column="id"></id>
            <result property="username" column="username"></result>
            <result property="password" column="password"></result>
            <result property="perms" column="perms"></result>
        </association>
    </resultMap>
    <select id="findOrdersByUserId" parameterType="string" resultMap="OrdersUserResultMap">
        SELECT o.*,u.id,u.username,u.password,u.perms
        FROM orders o,user u
        WHERE o.userId = u.id
        AND o.userId = #{id}
    </select>
</mapper>
